.contentAutos{
  width: 100%;
  height: 100%;
}
.contentTable{
  width: 100%;
}
.cellOptiones{
  width: 100%;
}
.btn{
  margin: 5px ;
}
.btnImage{
  width: 20px;
}
.btnImageReverse{
  width: 20px;
  filter: invert(100%);
}

.sectionTabla{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contentTabla{
  width: 98%;
}








/*Modal Change State*/
.pageContent{
  
}