.contentChange{
  width: 320px;
  display: flex;

  padding: 20px;
}
.title{
  color: white;
}
.select{
  width: 250px;
}
.formBtn{
  background-color: #047A87;
  width: 150px;
  margin-top: 10px;
}
.formBtn:hover{
  font-weight: bold;
  color: #047A87;
  background-color: white;
  border-color: #047A87;
}

.btnEstado{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #047A87;
  width: 180px;
  height: 30px;
  padding: 0;
  margin: 0;
}
.btnImageReverse{
  width: 20px;
  margin-left: 5px;
  filter: invert(100%);
}
.cellOptiones{
  width: 100%;
}
.btn{
  margin: 5px ;
}
.btnImage{
  width: 20px;
}