.Buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  top: 150px;
}

.card-autos {
    position: relative;
    top: 200px;
    padding-left: 125px;
    padding-top: 20px;
  }

  .search {
    width: 500px;
  }
  
  .contenedor-house {
    width: 100vw;
    height: 100vh;
  }
  

  