.container-filtro{
    background-color: #babebf;
    height: auto;
    padding-left: 20px;
    border-radius: 0 10px 10px 0;
    width: max-content;
    height: auto; 
    padding-right: 4px;
    color: black;
    position: relative;
    margin-top: -50px;
}
.input-wrapper{
    display: flex;
    padding: 10px 0 5px 25px;
    font-size: 14px;
}

.a-title{
    padding-top: 20px;
    font-size: 16px;
}

.checkbox-mini{
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    min-height: 1px;
    margin-right: 10px;
}

.checkbox-economico{
    margin-right: 10px;
}
.checkbox-AUTOMATICA{
    margin-right: 10px;
}

.checkbox-MANUAL{
    margin-right: 10px;
}
