.footer-container, .text-reset{
    color: white;
    text-decoration: none;
    background-color: #0194be;
    margin-top: 200px;
    height: 230px;
    text-decoration: none;
}

.informacion{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
}

.nombre-empresa{
    font-size: 48px;
    margin: 0;
}
.frase2{
    font-style: italic;
    margin: 0 0 15px 0;
}

a.me-4.text-reset{
    margin-right: 15px;
    font-size: 24px;
}

.text-uppercase{
    font-size: 25px;
    margin: 15px 0 15px 0 ;
    font-weight: bolder;
}
