.ventajas{
    background-color: #e9dcaa1a;
    width: 100vw;
    height: 400px;
    margin-bottom: 150px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 25px;
}
.item1{
    margin: 15px;
}
.container-ventajas{
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 45px;
}
.icon-ven{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
}
.text-ven{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}
.info-vent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    text-align: justify;
    font-size: medium;
}