:root{
    --primary-color: #e2e5e6;
    --form-border: 3px solid var(--primary-color);
    --form-border-radius: 10px;
}
.LoginIngreso{
    width: 100vw;
}

.container-saludo{
    text-align: left;
    margin: 35px 0 25px 0;
    width: 400px;
}

.Ingreso{
    height: 550px;
    width: 400px;
    border: 2px solid black;
    border-radius: var(--form-border-radius);
    box-shadow: 1px 3px 7px 4px rgb(100, 98, 98); 
    padding: 25px;
    background-color: #e0f7fb4b
}
.Ingreso button{
    margin-left: -1%;
}
.mb-3{
    margin-top: 7%;
    width: auto;
}
.Errores{
    font-size: 10px;
    color: red;
}

.NewCount:hover{
    cursor: pointer;
    color: black;
}
.Demo{
    margin-left: 35%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 6%;
    width:fit-content;
}
#Demo1{
   margin-bottom: 10px;
}
#Demo1 h5{
    font-size: 13px;
    font-weight: bolder;
}
#Demo2 div{
    display: flex;
    text-align: center;

}
#Demo2 h6{
    display: flex;
    margin-left: 10px;
    font-weight: bold;
    font-size: 11px;
}
#Demo2 p{
    font-weight: lighter;
    margin-left: 15px;
}
.btn-primary{
    background-color: rgb(7, 177, 210);
    margin-bottom: 12px;
}   
.btn-primary:hover{
    background-color: rgba(7, 133, 164, 0.753);
    height: 50px;
    width: 140px;
    transition: 0.10 ms ease-in-out;
}

.recuperar{
    margin-top: 10px;
}

.form-control{
    margin-top: 5px;
    width: 100%;
}
.form-label{
    align-self: flex-start;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(65, 59, 59);
}