.page-content {
    padding-left: 170px;
    height: 100vh;
    width: 85%;
  }
  
  .home-container {
    padding: 20px;
  }
  
  .home-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .home-container p {
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .page-content {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  