.contentSliderBar{
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: transparent;
  justify-content: space-around;
  align-items: center;
}
.sliderBtn{
  background-color: #047A87;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid transparent;
}
.sliderBtn:hover{
  background-color: white;
  border: 1px solid #047A87;
  color: #047A87;
}

/*
.slider-bar {
    display: flex;
    width: 85%;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 2px solid black;
    border-radius: 10px;
  }
  
  .slider-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin-left: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .slider-item:hover {
    background-color: #eaeaea;
  }
  
  .slider-item.active {
    background-color: #333;
    color: #fff;
    font-weight: bold;
  }
  
  .slider-item.active:hover {
    background-color: #333;
  }
*/